@import '../../scss/mixins';

.inputPassword {
    border: 1px solid rgba(18, 20, 23, 0.1);
    border-radius: 12px;
    padding: 16px 18px;
    width: 438px;
    height: 54px;
    font-weight: 400;
    line-height: 137%;
    display: flex;
    justify-content: space-between;
    gap: 18px;

    &__input {
        width: 100%;
    }

    &__icon {
        @include icon-colors;
    }

    &__errorMessage {
        @include error-props;
    }
}