@import '../../scss/mixins';

.header {
    display: flex;
    justify-content: center;

    &__container {
        padding: 20px 128px;
        width: 100%;
        max-width: 1440px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logoWrap {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__logoText {
        font-size: 20px;
        line-height: 120%;
        letter-spacing: -0.02em;
    }

    &__navigation {
        gap: 28px;
        display: flex;
    }

    &__link {
        position: relative;
        font-weight: 400;
        line-height: 125%;
        transition: var(--transition);

        &::after {
                @include accent-undereline;
                opacity: 0;
                transition: var(--transition);
            }

        &:hover {
            color: var(--blue-button);

            &::after {
                opacity: 1;
            }
        }

        &_active {
            color: var(--blue-button);
            cursor: default;

            &::after {
                @include accent-undereline;
                opacity: 1;
            }
        }
    }

    &__buttonsWrap {
        display: flex;
        gap: 16px;
    }
    
    &__button {
        font-weight: 700;
        line-height: 125%;
        display: flex;
        align-items: center;
        gap: 8px;
    }
}