.teachersPage {
    &__list {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin: 32px 0 64px 0;
    }

    &__buttonWrap {
        display: flex;
        justify-content: center;
    }
}