@use 'scss/reset';
// @use 'assets/scss/mixins';
@use 'scss/variables';

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    min-width: 320px;
    min-height: 100vh;
    color: var(--main-dark);
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}